/**
 * BSD 3-Clause License
 *
 * Copyright © 2023, Daniel Jonathan <daniel at cosmicmind dot com>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from
 *    this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES LOSS OF USE, DATA, OR PROFITS OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@use '@/utils/adaptive';
@use '@/utils/conversion';

@import '@/includes/bar';

$m-side-sheet-is-closed-width-value: 64;
$m-side-sheet-is-closed-width: conversion.to-px($m-side-sheet-is-closed-width-value);

$m-side-sheet-is-opened-width-value: 280;
$m-side-sheet-is-opened-width: conversion.to-px($m-side-sheet-is-opened-width-value);

%m-side-sheet {
  @extend %m-bar-vertical;

  @include adaptive.is-gte-large {
    visibility: visible;
  }
}

%m-side-sheet-leading {
  @extend %m-bar-vertical-leading;
}

%m-side-sheet-body {
  @extend %m-bar-vertical-body;
}

%m-side-sheet-trailing {
  @extend %m-bar-vertical-trailing;
}

%m-side-sheet-is-closed {
  width: $m-side-sheet-is-closed-width;
}

%m-side-sheet-is-opened {
  width: $m-side-sheet-is-opened-width;
}