/**
 * BSD 3-Clause License
 *
 * Copyright © 2023, Daniel Jonathan <daniel at cosmicmind dot com>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from
 *    this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES LOSS OF USE, DATA, OR PROFITS OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@use './lib/adaptive'

@import './lib/aspect-ratios'
@import './lib/typography'
@import './lib/block'
@import './lib/stack'
@import './lib/selection'
@import './lib/layout'
@import './lib/divider'
@import './lib/form'
@import './lib/icon'
@import './lib/shadow'
@import './lib/elevation'
@import './lib/selection'
@import './lib/button'
@import './lib/bar'
@import './lib/card'
@import './lib/menu'
@import './lib/list'
@import './lib/text-field'
@import './lib/video'
@import './lib/avatar'

@import './lib/top-app-bar'
@import './lib/navigation-rail'
@import './lib/navigation-drawer'
@import './lib/main'
@import './lib/modal'

*
  &,
  &::after,
  &::before
    box-sizing: border-box

.theme-light
  .is-theme-dark
    display: none
    visibility: hidden

.theme-dark
  .is-theme-light
    display: none
    visibility: hidden

::selection
  background: rgb(var(--primary))
  color: rgb(var(--on-primary))

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  width: 100%

p
  margin: 24px 0

a
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: none

.m-typography
  @extend %m-typography

  &.m-display
    @extend %m-typography-display

    &.large
      @extend %m-typography-display-large

    &,
    &.medium
      @extend %m-typography-display-medium

    &.small
      @extend %m-typography-display-small

  &.m-headline
    @extend %m-typography-headline

    &.large
      @extend %m-typography-headline-large

    &,
    &.medium
      @extend %m-typography-headline-medium

    &.small
      @extend %m-typography-headline-small

  &.m-title
    @extend %m-typography-title

    &.large
      @extend %m-typography-title-large

    &,
    &.medium
      @extend %m-typography-title-medium

    &.small
      @extend %m-typography-title-small

  &.m-label
    @extend %m-typography-label

    &.large
      @extend %m-typography-label-large

    &,
    &.medium
      @extend %m-typography-label-medium

    &.small
      @extend %m-typography-label-small

  &.m-body
    @extend %m-typography-body

    &.large
      @extend %m-typography-body-large

    &,
    &.medium
      @extend %m-typography-body-medium

    &.small
      @extend %m-typography-body-small

  &.m-link
    @extend %m-typography-link

    &.large
      @extend %m-typography-link-large

    &,
    &.medium
      @extend %m-typography-link-medium

    &.small
      @extend %m-typography-link-small

.m-stack
  @extend %m-stack

  > .m-stack-item
    @extend %m-stack-item

    > .m-divider
      @extend %m-stack-item-divider

    .m-stack-item-leading
      @extend %m-stack-item-leading

    .m-stack-item-body
      @extend %m-stack-item-body

    .m-stack-item-trailing
      @extend %m-stack-item-trailing

.m-list
  @extend %m-list

  //&.lines-1
  //  grid-auto-flow: minmax(56px, max-content)
  //
  //&.lines-2
  //  grid-auto-flow: minmax(72px, max-content)

  &.lines-3
    //grid-auto-flow: minmax(88px, max-content)

    > .m-list-item
      .m-list-item-leading,
      .m-list-item-body,
      .m-list-item-trailing
        align-content: start

  > .m-list-item
    @extend %m-list-item

    > .m-divider
      @extend %m-list-item-divider

    &:has(.m-video),
    &.has-leading-video
      padding-left: 0

    .m-list-item-leading
      @extend %m-list-item-leading

      > .m-icon
        font-size: 18px

      > img
        width: 56px
        height: 56px

      > .m-avatar
        width: 40px
        height: 40px

      > .m-video
        width: 114px
        height: 64px

    .m-list-item-body
      @extend %m-list-item-body

      > .m-typography
        &.m-headline
          @extend %m-typography-body-large

        &.m-body
          @extend %m-typography-body-medium

    .m-list-item-trailing
      @extend %m-list-item-trailing

      > .m-typography
        &.m-label
          @extend %m-typography-label-small

      > .m-icon
        font-size: 24px

    &,
    &.enabled
      box-shadow: rgb(var(--shadow-0))

      > .m-divider
        border-color: rgb(var(--surface-variant))

      .m-list-item-leading
        > .m-icon
          color: rgb(var(--on-surface-variant))

        > .m-avatar
          > .m-typography
            &.m-label
              background: rgb(var(--primary-container))
              color: rgb(var(--on-primary-container))

      .m-list-item-body
        > .m-typography
          &.m-headline
            color: rgb(var(--on-surface))

          &.m-body
            color: rgb(var(--on-surface-variant))

      .m-list-item-trailing
        > .m-typography
          &.m-label
            color: rgb(var(--on-surface-variant))

        > .m-icon
          color: rgb(var(--on-surface-variant))

      &:not(.is-not-interactive)
        &:hover:not(.focused):not(.pressed):not(.dragged):not(.disabled),
        &.hovered:not(.focused):not(.pressed):not(.dragged):not(.disabled)
          cursor: pointer

          &::before
            background: rgba(var(--on-surface), 8%)

          .m-list-item-leading
            > .m-icon
              color: rgb(var(--on-surface-variant))

          .m-list-item-trailing
            > .m-icon
              color: rgb(var(--on-surface-variant))

        &:focus:not(.hovered):not(.pressed):not(.dragged):not(.disabled),
        &.focused:not(.hovered):not(.pressed):not(.dragged):not(.disabled)
          &::before
            background: rgba(var(--on-surface), 12%)

          .m-list-item-leading
            > .m-icon
              color: rgb(var(--on-surface-variant))

          .m-list-item-trailing
            > .m-icon
              color: rgb(var(--on-surface-variant))

        &:active:not(.hovered):not(.focused):not(.dragged):not(.disabled),
        &.pressed:not(.hovered):not(.focused):not(.dragged):not(.disabled)
          &::before
            background: rgba(var(--on-surface), 12%)

          .m-list-item-leading
            > .m-icon
              color: rgb(var(--on-surface-variant))

          .m-list-item-trailing
            > .m-icon
              color: rgb(var(--on-surface-variant))

        &.dragged:not(.hovered):not(.focused):not(.pressed):not(.disabled)
          box-shadow: var(--shadow-4)

          &::before
            background: rgba(var(--on-surface), 16%)

          .m-list-item-leading
            > .m-icon
              color: rgb(var(--on-surface-variant))

          .m-list-item-trailing
            > .m-icon
              color: rgb(var(--on-surface-variant))

    &:disabled:not(.hovered):not(.focused):not(.pressed):not(.dragged),
    &[disabled]:not(.hovered):not(.focused):not(.pressed):not(.dragged),
    &.disabled:not(.hovered):not(.focused):not(.pressed:not(.dragged))
      cursor: not-allowed
      pointer-events: all !important
      box-shadow: none
      opacity: 38%

      &::before
        background: rgba(var(--on-surface), 12%)

      .m-list-item-leading
        > .m-icon
          color: rgba(var(--on-surface), 38%)

      .m-list-item-body
        > .m-typography
          &.m-headline
            color: rgba(var(--on-surface), 38%)

          &.m-body
            color: rgba(var(--on-surface), 38%)

      .m-list-item-trailing
        > .m-typography
          &.m-label
            color: rgba(var(--on-surface), 38%)

        > .m-icon
          color: rgba(var(--on-surface), 38%)

.is-not-selectable
  @extend %is-not-selectable

.is-selectable
  @extend %is-selectable

.is-nowrap
  @extend %is-nowrap

.is-ellipsis
  @extend %is-ellipsis

.m-block
  @extend %m-block

.m-block-flow-row
  @extend %m-block-flow-row

.m-block-flow-column
  @extend %m-block-flow-column

.m-layout
  @extend %m-layout

  > .m-section
    @extend %m-section

    > .m-row
      @extend %m-row

      > .m-column
        @extend %m-column

        > .m-tile
          @extend %m-tile

  &.m-adaptive
    @extend %m-adaptive

.is-hidden
  display: none !important

@include adaptive.is-compact
  .is-gt-compact,
  .is-small,
  .is-gt-small,
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-compact
  .is-compact
    display: none !important

@include adaptive.is-small
  .is-compact,
  .is-lt-small,
  .is-gt-small,
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-small
  .is-compact,
  .is-lt-small,
  .is-small
    display: none !important

@include adaptive.is-lt-medium
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-medium
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-medium
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium
    display: none !important

@include adaptive.is-lt-large
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-large
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-large
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-large
    display: none !important

@include adaptive.is-lt-expanded
  .is-expanded
    display: none !important

@include adaptive.is-expanded
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-large,
  .is-lt-expanded
    display: none !important

.aspect-ratio-1x1
  @extend %m-aspect-ratio-1x1

.aspect-ratio-2x1
  @extend %m-aspect-ratio-2x1

.aspect-ratio-1x2
  @extend %m-aspect-ratio-1x2

.aspect-ratio-4x1
  @extend %m-aspect-ratio-4x1

.aspect-ratio-4x3
  @extend %m-aspect-ratio-4x3

.aspect-ratio-5x1
  @extend %m-aspect-ratio-5x1

.aspect-ratio-8x5
  @extend %m-aspect-ratio-8x5

.aspect-ratio-9x6
  @extend %m-aspect-ratio-9x6

.aspect-ratio-16x9
  @extend %m-aspect-ratio-16x9

.m-video
  @extend %m-video