/* Copyright © 2023, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved. */

@import './themes/forest-dark'
@import './themes/forest-light'

@import './lib/aspect-ratios'
@import './lib/typography'
@import './lib/layout'
@import './lib/divider'
@import './lib/form'
@import './lib/icon'
@import './lib/shadow'
@import './lib/elevation'
@import './lib/selection'
@import './lib/button'
@import './lib/bar'
@import './lib/card'
@import './lib/menu'
@import './lib/list'
@import './lib/text-field'
@import './lib/video'
@import './lib/avatar'

@import './lib/top-app-bar'
@import './lib/navigation-rail'
@import './lib/navigation-drawer'
@import './lib/main'
@import './lib/modal'

*
  &,
  &::after,
  &::before
    box-sizing: border-box

.theme-light
  .is-theme-dark
    display: none
    visibility: hidden

.theme-dark
  .is-theme-light
    display: none
    visibility: hidden

::selection
  background: rgb(var(--primary))
  color: rgb(var(--on-primary))